---
import GralLayout from "../layouts/GralLayout.astro";
---

<!-- <html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astrooo</title>
  </head>
  <body>
    <h1>Astrooo</h1>
  </body>
</html> -->
<GralLayout title='Ejemplo Astro - Home'><h1>Home Page</h1></GralLayout>
